@import "./reset.css";

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KCCChassam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'KCCChassam';
}

.hidden {
  display: none;
}
input {
  background-color:transparent;
  color: white;
  caret-color: white;
  border: none;
  border-bottom: 5px solid white;
  height: 50px;
}
input:hover {
  transform: scale(1.05);
  animation: 0.5s ease-in-out;
}
input::placeholder {
  font-family: 'KCCChassam';
  font-size: 30px;
  font-weight: 500;
  color: white;
  opacity: 1;
}
input:focus {
  font-size: 30px;
  font-weight: 500;
  outline:none;
}
input:focus::placeholder {
  color: transparent;
}
#bgImage {
  z-index: -5;
  position: absolute;
  height: 100vh;
  width: 100vw;
  filter: brightness(70%);
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#reload {
  margin: 30px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: rgb(191, 233, 250);
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 40%;
}

#reload:hover {
  background-color: white;
  transform: scale(1.1);
}
#login-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
#login-form button {
  display: none;
}
#login-form input {
  width: 250px;
  text-align: center;
}

#greeting {
  padding-left: 50px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: 40px;
}
#weather {
  font-weight: 600;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 40px;
  margin-right: 50px;
  opacity: 0.8;
}
.clock-todoList {
  display: flex;
  flex-direction: column;
  /* 왜 form에는 이게 안먹히지? */
  align-items: center;
  height: 420px;
}
#clock {
  color: rgb(165, 190, 242);
  font-size: 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  margin-bottom: 50px;
  background: linear-gradient(to right top, rgb(255, 197, 207), rgb(142, 221, 255));
    color: transparent;
    -webkit-background-clip: text;
}
#todo-form {
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); */
}
#todo-form input {
  width: 100%;
  text-align: center;
  border: none;
}

li {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

#quote {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 20px;
  margin-top: 0px;
}
#quote span:first-child {
  margin-bottom: 10px;
}

footer {
  bottom: 0;
}

@keyframes hideSplashScreen {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      visibility: hidden;
  }
}
/* visibility 마우스에 걸리지않게 빠져버림 */
#splash-screen {
  background-image: url('../img/토이스토리.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1.5s;
}

/* <div id="splash-screen">
        <i class="fa-solid fa-comment" style="color: var(--green);"></i>
    </div> */
